# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

anotacoes.txt

./employee-record/package-lock.json
./employee-record/package.json

# dependencies
./employee-record/node_modules
./employee-record/.pnp
./employee-record/.pnp.js
./employee-record/.yarn/install-state.gz

# testing
./employee-record/coverage

# next.js
./employee-record/.next/
./employee-record/out/

# production
./employee-record//build

# misc
./employee-record/.DS_Store
./employee-record/*.pem

# debug
./employee-record/npm-debug.log*
./employee-record/yarn-debug.log*
./employee-record/yarn-error.log*

# local env files
./employee-record/.env*.local

# vercel
./employee-record/.vercel

# typescript
./employee-record/*.tsbuildinfo
./employee-record/next-env.d.ts


./employee-record/.DS_STORE
./employee-record/node_modules
./employee-record/scripts/flow/*/.flowconfig
./employee-record/.flowconfig
./employee-record/*~
./employee-record/*.pyc
./employee-record/.grunt
./employee-record/_SpecRunner.html
./employee-record/__benchmarks__
./employee-record/build/
./employee-record/remote-repo/
./employee-record/coverage/
./employee-record/.module-cache
./employee-record/fixtures/dom/public/react-dom.js
./employee-record/fixtures/dom/public/react.js
./employee-record/test/the-files-to-test.generated.js
./employee-record/*.log*
./employee-record/chrome-user-data
./employee-record/*.sublime-project
./employee-record/*.sublime-workspace
./employee-record/.idea
./employee-record/*.iml
./employee-record/.vscode
./employee-record/*.swp
./employee-record/*.swo

./employee-record/packages/react-devtools-core/dist
./employee-record/packages/react-devtools-extensions/chrome/build
./employee-record/packages/react-devtools-extensions/chrome/*.crx
./employee-record/packages/react-devtools-extensions/chrome/*.pem
./employee-record/packages/react-devtools-extensions/firefox/build
./employee-record/packages/react-devtools-extensions/firefox/*.xpi
./employee-record/packages/react-devtools-extensions/firefox/*.pem
./employee-record/packages/react-devtools-extensions/shared/build
./employee-record/packages/react-devtools-extensions/.tempUserDataDir
./employee-record/packages/react-devtools-inline/dist
./employee-record/packages/react-devtools-shell/dist
./employee-record/packages/react-devtools-timeline/dist
