.register-container {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    margin: 16px auto;
  }
  .register-container .page-title {
    margin: 2em 0;
  }
  .register-container form.register-form {
    display: flex;
    flex-direction: column;
  }
  .register-container form.register-form .form-group {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .register-container form.register-form .form-group select,
  .register-container form.register-form .form-group input {
    width: 100%;
  }