.list-container {
    min-width: 960px;
    display: flex;
    flex-direction: column;
}

.mx-2 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.btn-filter {
    margin-left: auto;
    margin-bottom: .5rem;
}

.filter-form .form-group {
    margin-right: 10px;
}

.filter-form label {
    margin-right: 5px;
}

.list-group {
    margin-top: 20px;
}

.list-group-item {
    padding: 10px;
    border: 1px solid var(--gray);
    border-radius: 5px;
    margin-bottom: 10px;
}
.add-new {
    position: absolute;
    right: 30px;
    bottom: -30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    min-height: 60px;
    font-size: 30px;
    background-color: var(--white);
    border-radius: 50px;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.pagination span {
    margin: 0 1rem;
}
.pagination button:disabled {
    cursor: not-allowed;
}